
@import './tokens/colors.css';
@layer reset, base, tokens, recipes, utilities;

@layer tokens {
    :root {
        /* Colores primarios */

    }
}

@layer base {
    ::-webkit-scrollbar {
        height: 5px;
        width: 5px;
        background: var(--colors-grey);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--colors-sasf-white);
        -webkit-border-radius: 1ex;
    }

    ::-webkit-scrollbar-corner {
        background: var(--colors-grey);
    }

    html {
        visibility: hidden;
        overflow-x: hidden;
    }

    html.light,
    html.dark {
        visibility: visible;
    }

}